<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.c1z4.rentcar.member.model.dao.MemberMapper">
    <!-- LEVEL ResultMap -->
    <resultMap id="levelResultMap" type="com.c1z4.rentcar.member.model.dto.LevelDTO">
        <result property="level" column="LEVEL"/>
        <result property="discountRate" column="DISCOUNT_RATE" />
    </resultMap>

    <!-- MEMBER ResultMap -->
    <resultMap id="memberWithLevelResultMap" type="com.c1z4.rentcar.member.model.dto.MemberDTO">
        <id property="memberCode" column="MEMBER_CODE"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="phone" column="PHONE"/>
        <association property="level" resultMap="levelResultMap" />
    </resultMap>

    <!-- 전체 회원 조회 -->
    <select id="getAllMemberWithLevel" resultMap="memberWithLevelResultMap">
          SELECT M.MEMBER_CODE
                ,M.MEMBER_NAME
                ,M.PHONE
                ,L.LEVEL
                ,L.DISCOUNT_RATE
            FROM TBL_MEMBER M
            JOIN TBL_LEVEL L
           USING (LEVEL)
        ORDER BY M.MEMBER_CODE
    </select>

    <!-- 특정 회원 조회 -->
    <select id="searchMemberWithLevel" parameterType="com.c1z4.rentcar.member.model.dto.SearchCriteria" resultMap="memberWithLevelResultMap">
          SELECT M.MEMBER_CODE
                ,M.MEMBER_NAME
                ,M.PHONE
                ,L.LEVEL
                ,L.DISCOUNT_RATE
            FROM TBL_MEMBER M
            JOIN TBL_LEVEL L
           USING (LEVEL)
        <where>
            <if test="codeValue != null">
                M.MEMBER_CODE = #{ codeValue }
            </if>
            <if test="nameValue != null and nameValue != ''">
                AND M.MEMBER_NAME = #{ nameValue }
            </if>
            <if test="phoneValue != null and phoneValue != ''">
                AND M.PHONE = #{ phoneValue }
            </if>
        </where>
    </select>

    <!-- 회원 등록 -->
    <insert id="registerMember" parameterType="com.c1z4.rentcar.member.model.dto.MemberDTO">
        INSERT INTO TBL_MEMBER
        (
        MEMBER_NAME,
        PHONE
        )
        VALUES
        (
        #{ memberName },
        #{ phone }
        )
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="modifyMember" parameterType="com.c1z4.rentcar.member.model.dto.MemberDTO">
         UPDATE TBL_MEMBER
        <set>
            <if test="memberName != null and memberName != ''">
                 MEMBER_NAME = #{ memberName }
            </if>
            <if test="phone != null and phone != ''">
                ,PHONE = #{ phone }
            </if>
            <if test="level != null and level.level != null and level.level != ''">
                ,LEVEL = #{ level.level }
            </if>
        </set>
           WHERE MEMBER_CODE = #{ memberCode }
    </update>

    <!-- 등급 전체 조회 -->
    <select id="getAllLevel" resultMap="levelResultMap">
          SELECT LEVEL
            FROM TBL_LEVEL
        ORDER BY DISCOUNT_RATE
    </select>



</mapper>