<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>대여하기</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            gap: 20px; /* 표 사이 간격 */
        }

        table {
            border-collapse: collapse;
            width: 100%;
            min-width: 300px;
        }

        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: center;
        }

        h1, h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>대여하기</h1>
    <form action="/rent/rent" method="post">
        <label>회원 번호를 입력해주세요:</label>
        <input type="number" name="memberCode" placeholder="예: 1"><br><br>

        <label>대여할 차량 번호를 입력해주세요:</label>
        <input type="number" name="carCode" placeholder="예: 1"><br><br>

        <input type="submit" value="대여 신청">
    </form>
    <div th:replace="rent/member-and-car :: memberAndCarList"></div><br><br>
</body>
</html>