<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout :: head"></head>
<body>
<div class="main-container">
  <th:block th:insert="common/layout :: header"></th:block>

  <main class="page-content" style="flex-direction: column">
    <div class="button-wrapper">
      <button class="btn" onclick="location.href='/car/list'">차량 전체 조회</button>
      <button class="btn" onclick="location.href='/car/register'">차량 등록</button>
    </div>
  </main>

  <th:block th:insert="common/layout :: footer"></th:block>
</div>
</body>
</html>